page-login {
  form {
    margin-bottom: 32px;
    button {
      margin-top: 20px;
    }
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  ion-label {
    margin-left: 5px;
  }

  ion-input {
    padding: 5px;
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

  form {
    padding-top: 10%;
  }

  img {
    padding-top: 5%;
  }

  buttons {
    padding-left: 10%;
  }

  loginButton {
    padding-top: 70%;
  }

  signUp{
    margin-left: 10px;
  }

  submitButton{
    margin-top: 50px;
  }

}