<ion-header>
  <ion-navbar>

    <ion-title>Edit Prompts</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar >

</ion-header>


<ion-content no-padding no-margin style="background-color: #E8E8E8;">

  <ion-list>

    <ion-item *ngFor="let r of responses" >
          <ion-label> {{r.text}} </ion-label>
          <ion-toggle value="foo" *ngIf="r.is_active" checked="true" (ionChange)="subscribe(r)"></ion-toggle>
          <ion-toggle value="foo" *ngIf="!r.is_active" checked="false" (ionChange)="subscribe(r)"></ion-toggle>
    </ion-item>

  </ion-list>


</ion-content>


