<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar >
</ion-header>

<ion-content padding>
  <h3>{{prompt.question}}</h3>
  <response-button *ngFor="let r of prompt.responses" [response]="r" [callback]="responseSelected"></response-button>
  <ion-row>
  	<ion-col align-self-start>
  		<button *ngIf="can_go_back" ion-button (click)="backAction($event)">Back</button>
  	</ion-col>
  	<ion-col col-5></ion-col>
  	<ion-col align-self-end>
  		<button *ngIf="can_go_next" ion-button (click)="nextAction($event)">{{nextText()}}</button>
  	</ion-col>
  </ion-row>
</ion-content>
