old-responses-detail-page {
    .borderexample
    {
        border-style:solid;
        color: #4990E2; 
        background-color: #FFFFFF;
        border-radius: 15px;
        margin-top: 5px !important;
        margin-bottom: 5px;
        display: inline-flex;
        min-width: 20%;
        margin-right: 10px;
        padding: 5px;
        text-align: center !important;
    }

    .prompt-content {
        background-color: #ffffff
    }

    .toolbar-title{
        font-family: roboto;
        font-size: 2.2rem;
        font-weight: 400 !important;
    }

    .question{
        font-family: roboto;
        font-size: 2.2rem;
        font-weight: 400 !important;
    }

}
