<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Old Responses </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="prompt-content" padding>
<!--   <h3  style="margin-bottom: 0px; margin-top: 5px;" *ngFor="let p of questions_list; let i = index"> {{p}}
    <br />
      <button ion-button outline 
    *ngFor="let op of responses_list[i];" align-center>{{op}}</button>

  </h3>
 -->
   <h3 class="question" style="margin-bottom: 0px; margin-top: 5px;" *ngFor="let p of questions_list; let i = index"> {{p}}
    <br />
    <button ion-button text-wrap outline style="min-width: 100%; background-color: #1976D2; color: white" 
    *ngFor="let op of responses_list[i];" align-center>{{op}}</button>
  </h3>

  <!-- <h3 style="color: white; margin-bottom: 0px; margin-top: 5px;"> My Personal Mantra: </h3> -->

  <!-- <h6 class="borderexample" > {{mantra}} </h6> -->


</ion-content>
