<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Old Responses </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-color: #4990E2">
  <h3  style="color: white; margin-bottom: 0px; margin-top: 5px;" *ngFor="let p of prompts; let i = index"> {{p.question}}
    <br />
      <h6 class="borderexample" *ngFor="let op of responses_list[i]; let j = index"> {{op}} </h6>

  </h3>


  <!-- <h3 style="color: white; margin-bottom: 0px; margin-top: 5px;"> My Personal Mantra: </h3> -->

  <!-- <h6 class="borderexample" > {{mantra}} </h6> -->


</ion-content>
