view-old-journals-page {

    .subjectLine {
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        font-size: 1em;
        font-weight: bold;
        color: black;
    }

    .dates{

    }

    .trashIcon{
        padding-left: 85%;
        padding-top: 5%;

    }
}
