<ion-header>
  <ion-navbar>

    <ion-title>Choose Love Language</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar >

</ion-header>


<ion-content no-padding no-margin style="background-color: #E8E8E8;">

  <ion-list>

    <ion-item *ngFor="let l of love_language_list; let i=index" >
          <ion-label> {{l}} {{i}} </ion-label>
          <ion-toggle value="foo" *ngIf="love_language_selected[i]" checked="true" (ionChange)="subscribe(l, i)"></ion-toggle>
          <ion-toggle value="foo" *ngIf="!love_language_selected[i]" checked="false" (ionChange)="subscribe(l, i)"></ion-toggle>
    </ion-item>

  </ion-list>


</ion-content>
