<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Summary Page </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h3  style="color: black; margin-bottom: 0px; margin-top: 5px;" *ngFor="let p of prompts; let i = index"> {{p.question}}
    <br />
    <button ion-button round outline 
    *ngFor="let op of responses_list[i]; let j = index" align-center>{{op}}</button>
  </h3>


  <!--<h3 style="color: white; margin-bottom: 0px; margin-top: 5px;"> My Personal Mantra: </h3>

  <h6 class="borderexample" > {{mantra}} </h6>-->


</ion-content>

 <ion-footer style="background-color: #FFFFFF">

    <ion-toolbar>
      <ion-buttons middle>
        <button style="width: 100%; text-align: center;" ion-button (click)="returnHome($event)">Complete Argument Tracking</button>
  		</ion-buttons>
   </ion-toolbar>
  </ion-footer>
