summary-page {
    .borderexample
    {
        border-style:solid;
        border-color:#FFFFFF;
        color: #4990E2; 
        background-color: #FFFFFF;
        border-radius: 10px;
        margin-top: 5px !important;
        margin-bottom: 5px;
        display: inline-flex;
        min-width: 20%;
        margin-right: 10px;
        padding: 5px;
        text-align: center !important;
    } 
}
