view-old-journals-page {

    .subjectLine {
        font-family: "Times New Roman", Times, serif;
        font-size: 1em;
        font-weight: bold;
        color: black;
    }

    .dates{

    }

}
