view-old-journals-page {

    .subjectLine {
        font-family: "Roboto";
        font-size: 1em;
        font-weight: bold;
        color: black;
    }

    .dates{

    }

    .border{
    	color: #4990E2;
    }

}
