<ion-header>
  <ion-navbar color="primary">
    <ion-title>Dynamic Mapping</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar >
</ion-header>

<ion-content padding style="background-color: #4990E2">
  <h3 style="color: white">Reminder, your partner's love language is:</h3>
  
  <ion-item style="background: #A4C9F6; border-radius: 10px;" >
    
    <ion-img width="80" height="80" src="http://fivelovelanguages-m0.s3.amazonaws.com/assets/images/language-icons/5ll_icon-affirmation.png"></ion-img>
  </ion-item>

  
  

    <ion-footer>
      <ion-toolbar>
        <ion-buttons left>
          <button ion-button style="font-size = 1.5em" *ngIf="can_go_back" clear ion-button (click)="backAction($event)">Back</button>
        </ion-buttons>
        <div>
        <ion-buttons right>
          <button ion-button style="font-size = 1.5em" *ngIf="can_go_next" clear ion-button (click)="nextAction($event)">{{nextText()}}</button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-footer>

</ion-content>
