<ion-header>
  <ion-navbar color="primary">
    <ion-title>Dynamic Mapping</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar >
</ion-header>

<ion-content padding>
  <h3>Reminder, your partner's love language is:</h3>


  <ion-item  *ngFor="let url of love_language_chosen" style="border-radius: 10px;" >

    <img src={{url}} style="max-width: 50%">
  </ion-item>
</ion-content>


    <ion-footer>
      <ion-toolbar>
        <ion-buttons left>
          <button ion-button style="font-size = 1.5em" *ngIf="can_go_back" clear ion-button (click)="backAction($event)">Back</button>
        </ion-buttons>
        <div>
        <ion-buttons right>
          <button ion-button style="font-size = 1.5em" *ngIf="can_go_next" clear ion-button (click)="nextAction($event)">{{nextText()}}</button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-footer>
