response-button{
	.rButton{
        border-radius: 10px; 
        min-width: 30%; 
        background-color: #A4C9F6; 
        color: #4990E2; 
        font-size: 1.5em;
        padding: 0 0.5em !important;
        height: 10%;
    }
}