journal-detail-page{

  ion-content {
    background-color: #EEEEEE
  }

  .item-input .item-inner,
  .list-md .item-input:last-child {
    border-bottom: none !important;
    box-shadow: none !important;
  }

  .saveButton {
  	margin-top: 5%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

}
